
<%= form_tag ideas_path, method: :post do%>
    <div class="text-center container">
    <span class=' mr-2'><%= label_tag  "Share Idea here"%></span>
   <%= text_field_tag :idea, params[:idea], class: 'form-control d-block', autofocus: true  %>
    <%= submit_tag "Share", class: 'btn btn-default btn-lg btn-submit btn-info m-2'%>
    </div>
<% end %>
